//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/jisas/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/jisas/.local/share/rofi/themes/windows11-list-dark.rasi"
//@theme "/home/jisas/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/jisas/.local/share/rofi/themes/flamingo.rasi"
@theme "/home/jisas/.local/share/rofi/themes/onedark.rasi"
